{% extends 'base.html' %}
{% load static %}

{% block title %}
Author Dash Board
{% endblock %}

{% block author %}
<div class="fh5co-bio">
    <figure>
        <img src="{{ auth.image.url }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
    </figure>
    <h3 class="heading">About Me</h3>
    <h2>{{ auth.current_user.get_full_name }}</h2>
    <h4>{{ auth.current_user.email }}</h4>
    <p>{{ auth.details }}</p>
    <ul class="fh5co-social">
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-instagram"></i></a></li>
    </ul>
</div>
{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <a href="{% url 'blog:create_blog' %}" class="btn btn-success puu pull-right">Create New Post</a>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>Post by: {{ auth.current_user.get_full_name }}</h3>
                    </div>
                    <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <td>#</td>
                            <td>Title</td>
                            <td>Date</td>
                            <td>Action</td>
                        </tr>
                        {% for p in post %}
                        <tr>
                            <td>{{ p.id }}</td>
                            <td>{{ p.title }}</td>
                            <td>{{ p.posted_on }}</td>
                            <td><a href="#">Delete</a>||<a href="#">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}{% endblock %}